<div class="pBarContainer container">
	<div class="pBarRoller" data-limit="{{this.limit}}">
		{{#each this.bars}}
			<div class="poc-bars" id="counter{{@index}}_bar" data-counter="{{this}}" data-percent="{{math this '|' ../this.limit}}">
				<div class="pBarStatus {{#compare this '<' ../this.limit}}blue{{else}}red{{/compare}}" style="width: {{math this '|' ../this.limit}}%;"></div>
				<div class="pBarPercent text-center">{{math this '|' ../this.limit}}%</div> 
			</div>
		{{/each}}
	</div>
	<div class="pBarButtons">
		<div class="poc-dropDown poc-inlineParent">
		    <select class="dropdown-menu" id="poc-dropdown">
			    {{#each this.bars}}
		      		<option value="counter{{@index}}_bar">Progress bar {{@index}}</option>
		      	{{/each}}
		    </select>
			  
		</div>
		<div class="poc-buttons poc-inlineParent">
			{{#each this.buttons}}
				<button id="pbuttons0{{@index}}" class="btn" data-ref="counter0_bar" value="{{this}}">{{this}}</button>
			{{/each}}
		</div>
	</div>
</div>