<div class="pBarContainer container">
	<div class="pBarRoller" data-limit="{{this.limit}}">
		{{#each this.bars}}
			<div class="poc-bars col-lg-12 col-md-12 col-sm-12" id="counter{{@index}}_bar" data-counter="{{this}}">
				<div class="pBarStatus {{#compare this '<' ../this.limit}}blue{{else}}red{{/compare}}" style="width: {{math ../this.limit '/' this}}px; height:100%;"></div>
				<div class="pBarPercent text-center">{{math ../this.limit '/' this}}</div> 
			</div>
		{{/each}}
	</div>
	<div class="pBarButtons">
		<div class="poc-dropDown col-lg-3 col-md-6 col-sm-4">
			 <div class="dropdown">
			    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Progress Bar <span class="caret"></span></button>
			    <ul class="dropdown-menu">
				    {{#each this.bars}}
			      		<li><a href="#" data-bind="counter{{@index}}_bar">Progress bar {{@index}}</a></li>
			      	{{/each}}
			    </ul>
			  </div>
			</div>
		</div>
		<div class="poc-buttons col-lg-6 col-md-6 col-sm-8">
			{{#each this.buttons}}
				<button id="pbuttons0{{@index}}" class="btn">{{this}}</button>
			{{/each}}
		</div>
	</div>
</div>